body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border-radius: 1%;
    border: 1px solid rgba(255, 255, 255);
    display: flex;
    align-items: center;
}

section {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 2%;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

td,
tr,
table {
    border-bottom: 2px solid white;
}

h2 {
    font-size: 500px;
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: rgb(0, 0, 0);
    padding: .2rem 0rem;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: auto;
    position: relative;
    border-bottom: 2px solid #4278bb;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0rem;
    height: 50px;
    font-size: 18px;
    margin: 0 auto;
    transition: all 0.6s ease;
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #4278bb;
}

.input::placeholder {
    color: #acacac;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}


.button1 {
    background: #1fbefbed;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    justify-content: center;
    width: auto;
}

.button1:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.button1:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

a {
    cursor: pointer;
}