.sombra {
    box-shadow: -41px 41px 82px #010309,
        41px -41px 82px #03091f;
    border: solid white 1px;
    margin-top: 20px;
}

@media screen and (max-width: 720px) {

    .sombra {
        margin-top: 0px;
    }

}