.container-form {
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 1%;
  border: 1px solid rgba(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

p {
  margin-left: 0.5%;
}


.input-style {
  padding: 10px;
  background-color: rgba(63, 63, 63, 0.5);
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  width: 50vw;
}

.input-style::placeholder {
  color: #bebebe;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  transition: 0.2s;
}


.barra-progress {
  width: 60vw;
  margin: 1vh 20vw;
  margin-top: 2%;
  padding: 1.5%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1%;
  border: 1px solid rgba(255, 255, 255);
  transition: 0.5s;
}

.barra-progress:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.99);
}


progress {
  width: 25vw;
  background: #252525;
}

progress::-webkit-progress-value {
  background: rgb(48, 75, 85);
}

.barra-progress h1,
section h1 {
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;
}

.barra-progress table {
  display: flex;
  align-items: center;
  justify-content: center;
}