.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
}

.container-team {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 10% 0;
}

img {
  width: 120px;
  height: auto;
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 2%;
}

.card {
  width: 300px;
  height: 400px;
  background: rgba(27, 50, 60, 0.5);
  border-radius: 15px;
  border: 0.2px solid white;
  box-shadow: 1px 5px 60px 0px #100a;
  margin: 0 7%;
}

.card .card-border-top {
  width: 60%;
  height: 4%;
  background: rgb(58, 103, 128);
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 20px;
  font-size: 20px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 16px;
}

.card .img {
  width: 120px;

  background: transparent;
  border-radius: 15px;
  margin: auto;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-device-width: 720px){

  .container-team{
    flex-direction: column;
  }

  .card{
    margin: 20px 0;
  }

}