<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/sirs.jpg">
    <script src="https://kit.fontawesome.com/25eed41d7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="/static/css/check.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.tailwindcss.css">
    <title>Check</title>
</head>

<body>

    <header>
        <a href="{{ url_for('index') }}" class="logo"><img src="/static/img/sirs.jpg" width="60px"></a>

        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}">Sobre Nosotros</a></li>
            <li><a href="{{ url_for('modulos') }}" class="active">Gestion de Proyectos</a></li>
            <li><a href="{{ url_for('opiniones') }}">Opiniones</a></li>
            <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
        </ul>

        <div class="main">
            <a href="{{ url_for('logout') }}" class="user"><i class="fa-solid fa-user"></i>{% if log %} {{log}} Sesion
                {%
                endif %}</a>
            <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>
        </div>
    </header>

    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.8/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/oP1Rx8Le7K9noHAa/scene.splinecode"></spline-viewer>

    <section>

        {% for data2 in data2 %}

        <h1 class="text-5xl">{{ data2['nombre'] }}</h1>
        <h4>{{ data2['tipo'] }}</h4>

        {% endfor %}

        <h3 class="text-4xl">Chcklist de Documentación</h3>

        <table  id="myTable" class="display bg-[#000]" style="max-width:100%; overflow: auto;">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Documetación</th>
                    <th>Descripción</th>
                    <th>Archivo</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>

                {% for data in data %}

                <tr>
                    <td>{{ data['aprobacion'] }}</td>
                    <td>{{ data['nombre'] }}</td>
                    <td>{{ data['descripcion'] }}</td>
                    <td>{{ data['archivo'] }}</td>
                    <td>{{ data['fecha'] }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        
    </section>



    <!--Enalaces de scripts-->

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.tailwindcss.com/"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.tailwindcss.js"></script>
    <script src="https://cdn.tailwindcss.com/"></script>
    <script src="/static/js/bar.js"></script>
    <script src="/static/js/dataTable.js"></script>

</body>

</html>