<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Planes y Modelos</title>
    <link rel="stylesheet" href="/static/css/plan.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>

<body>

    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.8/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/oP1Rx8Le7K9noHAa/scene.splinecode"></spline-viewer>

    <form id="plan-form"  method="POST">
        <div class="container">
            <h1>Asignar Planes y Modelos</h1>

            <div class="pricing-grid">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic</h2>
                        <p class="price">$150.000 COP</p>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li class="included"><span class="icon">✓</span> IEEE-830</li>
                            <li class="included"><span class="icon">✓</span> Casos de Uso</li>
                            <li class="included"><span class="icon">✓</span> Casos de Uso extendido</li>
                            <li class="included"><span class="icon">✓</span> Reuniones online</li>
                            <li class="not-included"><span class="icon">✕</span> Visitas físicas</li>
                            <li class="not-included"><span class="icon">✕</span> Diagrama de Clases</li>
                            <li class="not-included"><span class="icon">✕</span> Diagrama de Objetos</li>
                            <li class="not-included"><span class="icon">✕</span> Modelo Entidad Relacion</li>
                            <li class="not-included"><span class="icon">✕</span> Modelo Relacional</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn" name="plan" value="BASIC">Empezar</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Standard</h2>
                        <p class="price">$300.000 COP</p>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li class="included"><span class="icon">✓</span> IEEE-830</li>
                            <li class="included"><span class="icon">✓</span> Casos de Uso</li>
                            <li class="included"><span class="icon">✓</span> Casos de Uso extendido</li>
                            <li class="included"><span class="icon">✓</span> Reuniones online</li>
                            <li class="included"><span class="icon">✓</span> Visitas físicas</li>
                            <li class="included"><span class="icon">✓</span> Diagrama de Clases</li>
                            <li class="not-included"><span class="icon">✕</span> Diagrama de Objetos</li>
                            <li class="not-included"><span class="icon">✕</span> Modelo Entidad Relacion</li>
                            <li class="not-included"><span class="icon">✕</span> Modelo Relacional</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn" name="plan" value="STANDARD">Empezar</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Premium</h2>
                        <p class="price">$600.000 COP</p>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li class="included"><span class="icon">✓</span> IEEE-830</li>
                            <li class="included"><span class="icon">✓</span> Casos de Uso</li>
                            <li class="included"><span class="icon">✓</span> Casos de Uso extendido</li>
                            <li class="included"><span class="icon">✓</span> Reuniones online</li>
                            <li class="included"><span class="icon">✓</span> Visitas físicas</li>
                            <li class="included"><span class="icon">✓</span> Diagrama de Clases</li>
                            <li class="included"><span class="icon">✓</span> Diagrama de Objetos</li>
                            <li class="included"><span class="icon">✓</span> Modelo Entidad Relacion</li>
                            <li class="included"><span class="icon">✓</span> Modelo Relacional</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn" name="plan" value="PREMIUM">Empezar</button>
                    </div>
                </div>

                <div class="card uno">
                    <div class="card-header">
                        <h2>Personalizar plan</h2>
                    </div>
                    <div class="card-content">
                        <p>Aquí tendrás la posibilidad de personalizar tu plan para que se adapte a las necesidades del
                            análisis de tu proyecto</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn" id="customizeBtn">Empezar</button>
                    </div>
                </div>
            </div>

            <div id="customizeModal" class="modal">
                <div class="modal-content">
                    <h2>Selecciona los Modelos</h2>
                    <div class="checkbox-grid">
                        <label class="checkbox-label">
                            <input type="checkbox" name="model" value="RQ">
                            <span>Documentos RF y RNF (IEEE-830)</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="model" value="CU">
                            <span>Casos de Uso</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="model" value="CUX">
                            <span>Casos de Uso Extendido</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="model" value="MC">
                            <span>Diagrama de Clases</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="model" value="MO">
                            <span>Diagrama de Objetos</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="model" value="MER">
                            <span>Modelo Entidad Relacion</span>
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="model" value="MR">
                            <span>Modelo Relacional</span>
                        </label>
                    </div>
                    <button class="btn" name="plan" value="PERSONALIZADO" id="registerBtn">Registrar Proyecto</button>
                </div>
            </div>
        </div>
    </form>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const customizeBtn = document.getElementById('customizeBtn');
            const customizeModal = document.getElementById('customizeModal');
            const registerBtn = document.getElementById('registerBtn');

            customizeBtn.addEventListener('click', function () {
                customizeModal.style.display = 'block';
            });

            registerBtn.addEventListener('click', function () {
                const selectedModels = Array.from(document.querySelectorAll('input[name="model"]:checked'))
                    .map(checkbox => checkbox.value);
                console.log('Selected models:', selectedModels);
                customizeModal.style.display = 'none';
            });

            window.addEventListener('click', function (event) {
                if (event.target === customizeModal) {
                    customizeModal.style.display = 'none';
                }
            });
        });


    </script>
</body>

</html>