<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/sirs.jpg">
    <script src="https://kit.fontawesome.com/25eed41d7b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Foro de Opiniones</title>
    <link rel="stylesheet" href="/static/css/foro.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>

<body>

    <header>
        <a href="{{ url_for('index') }}" class="logo"><img src="/static/img/sirs.jpg" width="60px"></a>

        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}">Sobre Nosotros</a></li>
            <li><a href="{{ url_for('modulos') }}">Gestion de Proyectos</a></li>
            <li><a href="{{ url_for('opiniones') }}" class="active">Opiniones</a></li>
            <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
        </ul>

        <div class="main">
            <a href="{{ url_for('logout') }}" class="user"><i class="fa-solid fa-user"></i>{% if log %} {{log}} Sesion
                {%endif %}</a>
            <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>
        </div>
    </header>

    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.8/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/oP1Rx8Le7K9noHAa/scene.splinecode"></spline-viewer>


    <!-- Botón para abrir el modal -->
    <button id="openModal">Dejar una Opinión</button>

    <!-- Modal de Opiniones -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Dejar una Opinión</h2>
            <form action="/submit-opinion" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="rating">Tipo de Opinion:</label>
                <select id="rating" name="rating" required>
                    <option selected disabled>Seleccionar</option>
                    <option>Peticion</option>
                    <option>Queja</option>
                    <option>Sugerencia</option>

                </select>

                <label for="opinion">Opinión:</label>
                <textarea id="opinion" name="opinion" rows="4" required></textarea>

                <label for="rating">Calificación:</label>
                <select id="rating" name="rating" required>
                    <option value="5">5 - Excelente</option>
                    <option value="4">4 - Muy Bueno</option>
                    <option value="3">3 - Bueno</option>
                    <option value="2">2 - Regular</option>
                    <option value="1">1 - Malo</option>
                </select>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <!-- Lista de opiniones -->
    <div id="opinions-list">
        <h2>Opiniones de Usuarios</h2>
        <!-- Ejemplo de opinión -->
        <div class="opinion">
            <h3>Juan Pérez</h3>
            <p>Muy buen aplicativo, me ha ayudado mucho en la gestión de mis proyectos.</p>
            <p><strong>Calificación:</strong>5
            <div class="estrellas"></div>
            </p>
        </div>
        <div class="opinion">
            <h3>Juan Pérez</h3>
            <p>Muy buen aplicativo, me ha ayudado mucho en la gestión de mis proyectos.</p>
            <p><strong>Calificación:</strong> 5
            <div class="estrellas"></div>
            </p>
        </div>
        <div class="opinion">
            <h3>Juan Pérez</h3>
            <p>Muy buen aplicativo, me ha ayudado mucho en la gestión de mis proyectos.</p>
            <p><strong>Calificación:</strong> 5
            <div class="estrellas"></div>
            </p>
        </div>
        <div class="opinion">
            <h3>Juan Pérez</h3>
            <p>Muy buen aplicativo, me ha ayudado mucho en la gestión de mis proyectos.</p>
            <p><strong>Calificación:</strong> 5
            <div class="estrellas"></div>
            </p>
        </div>
        <div class="opinion">
            <h3>Juan Pérez</h3>
            <p>Muy buen aplicativo, me ha ayudado mucho en la gestión de mis proyectos.</p>
            <p><strong>Calificación:</strong> 5
            <div class="estrellas"></div>
            </p>
        </div>
        <div class="opinion">
            <h3>Juan Pérez</h3>
            <p>Muy buen aplicativo, me ha ayudado mucho en la gestión de mis proyectos.</p>
            <p><strong>Calificación:</strong> 5
            <div class="estrellas"></div>
            </p>
        </div>
        <div class="opinion">
            <h3>Juan Pérez</h3>
            <p>Muy buen aplicativo, me ha ayudado mucho en la gestión de mis proyectos.</p>
            <p><strong>Calificación:</strong> 5
            <div class="estrellas"></div>
            </p>
        </div>
        <!-- Más opiniones se agregarán dinámicamente -->
    </div>

    <script src="/static/js/bar.js"></script>

    <script>
        // Abrir el modal al hacer clic en el botón
        document.getElementById('openModal').addEventListener('click', function () {
            document.getElementById('myModal').style.display = 'block';
        });

        // Cerrar el modal al hacer clic en la "X"
        document.getElementsByClassName('close')[0].addEventListener('click', function () {
            document.getElementById('myModal').style.display = 'none';
        });

        // Cerrar el modal al hacer clic fuera de él
        window.addEventListener('click', function (event) {
            if (event.target == document.getElementById('myModal')) {
                document.getElementById('myModal').style.display = 'none';
            }
        });

    </script>

    <!--Calificación-->
    <script>
        const select = document.getElementById('rating');
        const estrellas = document.querySelector('estrellas');

        select.addEventListener('change', () => {
            const rating = select.value;
            const numEstrellas = getNumEstrellas(rating);
            renderEstrellas(numEstrellas);
        });

        function getNumEstrellas(rating) {
            switch (rating) {
                case 'Excelente':
                    return 5;
                case 'Muy Bueno':
                    return 4;
                case 'Bueno':
                    return 3;
                case 'Regular':
                    return 2;
                case 'Malo':
                    return 1;
                default:
                    return 0;
            }
        }



        function renderEstrellas(numEstrellas) {
            estrellas.innerHTML = '';
            for (let i = 0; i < 5; i++) {
                const estrella = document.createElement('svg');
                estrella.setAttribute('height', '24');
                estrella.setAttribute('version', '1.1');
                estrella.setAttribute('width', '24');
                estrella.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
                estrella.setAttribute('xmlns:cc', 'http://creativecommons.org/ns#');
                estrella.setAttribute('xmlns:dc', 'http://purl.org/dc/elements/1.1/');
                estrella.setAttribute('xmlns:rdf', 'http://www.w3.org/1999/02/22-rdf-syntax-ns#');

                const svgContent = `
            <g transform="translate(0 -1028.4)">
                <path
                    d="m66.36 1121.6-0.636-0.7v-1.2-1.2l0.39-2.2c0.214-1.3 0.39-2.3 0.39-2.4s-0.13-0.1-0.524-0.3l-0.525-0.3-0.544-1.3c-0.3-0.8-0.547-1.4-0.549-1.5s0.091-0.3 0.215-0.4c0.218-0.4 0.22-0.4 0.22-0.8v-0.4h-0.516-0.597c-0.045-0.1-0.181-0.3-0.302-0.5l-0.219-0.5h-0.335l-0.334 0.1-1.149-0.7-1.149-0.6-0.36-0.5c-0.198-0.2-0.394-0.4-0.435-0.4-0.042-0.1-0.259-0.1-0.482-0.1h-0.407l-1.231-1.6-1.23-1.6 0.053-0.9 0.053-0.8-0.381-0.5c-0.209-0.3-0.416-0.6-0.458-0.6-0.054-0.1-0.149-0.1-0.303 0h-0.275c-0.028 0-0.125-0.2-0.216-0.4-0.173-0.3-0.163-0.4 0.056-0.4h0.119c0-0.1-1.009-1.1-1.14-1.2-0.057 0-0.44-0.1-0.852-0.2l-0.748-0.1-1.88 1c-1.034 0.5-1.893 0.9-1.908 0.9-0.015-0.1 0.24-0.3 0.567-0.7 0.328-0.3 0.595


    </script>


</body>
</html>