<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/sirs.jpg">
    <script src="https://kit.fontawesome.com/25eed41d7b.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="/static/css/perfil.css">
    <link rel="stylesheet" href="/static/css/estilos.css">

    <title>Perfil</title>


</head>

<body>

    <header>
        <a href="{{ url_for('index') }}" class="logo"><img src="/static/img/sirs.jpg" width="60px"></a>

        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li>
            <li><a href="{{ url_for('modulos') }}">Gestion de Proyectos</a></li>
        <!--<li><a href="{{ url_for('opiniones') }}">Opiniones</a></li>-->
            <li><a href="{{ url_for('perfil') }}" class="active">Perfil</a></li>
        </ul>

        <div class="main">
            <a href="{{ url_for('logout') }}" class="user"><i class="fa-solid fa-user"></i>{% if log %} {{log}} Sesion
                {%
                endif %}</a>
            <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>
        </div>
    </header>


    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.8/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/oP1Rx8Le7K9noHAa/scene.splinecode"></spline-viewer>


    <!-- Mensajes Flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <script>
        swal.fire({
            title: "{{message}}",
            icon: "{{category}}",
            buttons: false,
            timer: 2000,
            showConfirmButton: false,
            background: "#fff",
            toast: true,
            position: "top"
        });
    </script>
    {% endfor %}
{% endif %}
{% endwith %}
    




    <main>

        <section class="user-info">
            <h2>Información del Usuario</h2>





            <div class="user-details">
                {% for dato in usuario %}
                <div class="container_img">
                    <img src="/static/img/usuarios/{{ dato['foto'] if dato['foto'] else 'default.jpg' }}" alt="Foto de perfil">
                </div>
                <div class="user-text">

                    <p><strong>Nombre:</strong> {{ dato['nombres'] }} {{ dato['apellidos'] }}</p>
                    <p><strong>Correo Electrónico:</strong> {{ dato['email'] }}</p>
                    <p><strong>Funcion:</strong> {{ dato['perfil'] }}</p>
                    <button id="btn-abrir-popup1" class="button">Editar Datos</button>
                    <button id="btn-abrir-popup2" class="button button2">Editar Clave</button>

                </div>
                {% endfor %}
            </div>
        </section>

        <section class="user-projects">
            <a href="{{ url_for('registrar_pro') }}">
                <button title="Agregar proyecto" class="button_add">
                    <i class="fa-regular fa-square-plus fa-2xl" style="color: #ffffff;"></i>
                </button>
            </a>

            <h2>Proyectos del Usuario</h2>
            {% for dato in datos %}
            <div class="project">
                <h3>Proyecto {{ dato['nombre'] }}</h3>
                <p>Descripción:{{dato['descripcion']}}</p>
                <p>Estado: En progreso</p>
                <a href="{{ url_for('checkdown', idproy = dato['idproy']) }}">
                    <button class="button_view" style="margin-bottom: 10px;">Ver</button>
                </a>
            </div>
            {% endfor %}
            
        </section>

    </main>





    <!--ventana emergente1-->

    <div class="overlay" id="overlay1">
        <div class="popup" id="popup1" style=" background-color: #0000007e;">
            <a href="#" id="btn-cerrar-popup1" class="btn-cerrar-popup" style="margin-right: -100%;"><i class="fas fa-times"></i></a>
            
            <div class="dialog-header">
                <h2 class="dialog-title">Actualizar Perfil</h2>
                <p class="dialog-description">Actualiza tu información personal y haz clic en actualizar cuando termines.</p>
            </div>
    
            <div class="dialog-content">
                <form action="actualizar_usuario" method="POST">
                    {% for dato in usuario %}

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" readonly value="{{ dato['email'] }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" id="nombres" name="nombres" value="{{ dato['nombres'] }}" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" value="{{ dato['apellidos'] }}" required>
                    </div>


                    <div class="form-group">
                        <label for="documento">Documento</label>
                        <input type="text" id="documento" name="documento" value="{{ dato['documento'] }}" required>
                    </div>

                    
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="number" id="telefono" name="telefono" value="{{ dato['telefono'] }}">
                    </div>
                    
                    <div class="dialog-footer">
                        <button type="submit" class="button">Actualizar</button>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

    <!--fin ventana emergente1-->



    <!--ventana emergente2-->

    <div class="overlay" id="overlay2">
        <div class="popup" id="popup2" style="height: auto; background-color: #0000007e;">
            <a href="#" id="btn-cerrar-popup2" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <div class="dialog-header">
                <h2 class="dialog-title">Actualizar Clave</h2>
                <p class="dialog-description">Ingresa tu clave actual y la nueva contraseña.</p>
            </div>
            <div class="dialog-content">
                <form id="form-actualizar-clave" action="{{ url_for('actualizar_clave') }}" method="POST">
                    <input type="hidden" name="email" value="{{ usuario[0]['email'] }}">
                    <div class="form-group">
                        <label for="actual">Clave Actual</label>
                        <input type="password" id="actual" name="actual" required>
                    </div>
                    <div class="form-group">
                        <label for="nueva">Nueva Clave</label>
                        <input type="password" id="nueva" name="nueva" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmacion">Confirmar Nueva Clave</label>
                        <input type="password" id="confirmacion" name="confirmacion" required>
                    </div>
                    <div class="dialog-footer">
                        <button type="submit" class="button">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        document.getElementById("form-actualizar-clave").addEventListener("submit", function(event) {
            let nueva = document.getElementById("nueva").value;
            let confirmacion = document.getElementById("confirmacion").value;
    
            if (nueva !== confirmacion) {
                event.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Las contraseñas no coinciden",
                    background: "#171717",
                    toast: true,
                    position: "top"
                });
            }
        });
    </script>
    
    

    <!--fin ventana emergente 2-->




    <script src="/static/js/popup.js"></script>

    <script src="/static/js/bar.js"></script>
</body>

</html>